h1{
    width:100%;
    margin:0;
    padding: 10px;
    border: 3px solid black;
    font-weight: bold;
}

body{
    background-size:cover;
}

canvas{
    border:5px solid white;
    box-shadow: 5px 5px 15px white;
    margin-top:200px;
}

#footer{
    background-color: white;
    color:black;
    font-weight: bold;
    position:fixed;
    bottom: 0;
    width:100%;
    text-align: center;
}